<h1 class="text-center mt-2">Fteching Data From API</h1>
<div class="container my-5">
    <input class="form-control my-4" (input)="filterData($event)" type="text" placeholder="Search here">
    <div class="row">
        @for(item of fData ; track item){
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card mb-3 position-relative mx-2">
                    <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger">
                        {{item.category}}
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    <img src={{item.thumbnail}} alt="">
                    <h5 class="text-center">{{item.title.slice(0,10)}} ...</h5>
                    <p class="text-center">{{item.description.slice(0,20)}} ...</p>
                    <a href="/fetch/{{item.id}}" class="btn btn-primary mx-2 mb-2">See Details</a>
                </div>
            </div>
        }
    </div>
</div>
