<div class="container my-5">
    <p class="text-center text-3xl">Product Section</p>

    <div class="grid grid-cols-4">

        <div class="card mt-5 shadow w-[260px] px-6 py-5 mx-auto md:mx-0">
            <div class="top-s flex justify-center">
                <img class="w-[150px]" src="https://cdn.pixabay.com/photo/2014/04/02/14/06/t-shirt-306168_960_720.png" alt="">
            </div>
            <div class="desc mt-5">
                <h1 class="text-xl font-medium">Brown Polo T-Shirt</h1>
                <p class="font-light text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, vel!</p>
                <div class="text-xl font-medium">
                    <span>Rs 800</span>
                    <span class="px-1"><s> Rs 1600</s></span>
                    <span> (50%) OFF</span>
                </div>
                <button (click)="view()" class="bg-sky-600 text-white px-5 py-1 rounded-md mt-2">Buy Now</button>
            </div>
        </div>

        <div class="card mt-5 shadow w-[260px] px-6 py-5 mx-auto md:mx-0">
            <div class="top-s flex justify-center">
                <img class="w-[150px]" src="https://cdn.pixabay.com/photo/2014/04/02/14/06/t-shirt-306168_960_720.png" alt="">
            </div>
            <div class="desc mt-5">
                <h1 class="text-xl font-medium">Brown Polo T-Shirt</h1>
                <p class="font-light text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, vel!</p>
                <div class="text-xl font-medium">
                    <span>Rs 800</span>
                    <span class="px-1"><s> Rs 1600</s></span>
                    <span> (50%) OFF</span>
                </div>
                <button (click)="view()" class="bg-sky-600 text-white px-5 py-1 rounded-md mt-2">Buy Now</button>
            </div>
        </div>

        <div class="card mt-5 shadow w-[260px] px-6 py-5 mx-auto md:mx-0">
            <div class="top-s flex justify-center">
                <img class="w-[150px]" src="https://cdn.pixabay.com/photo/2014/04/02/14/06/t-shirt-306168_960_720.png" alt="">
            </div>
            <div class="desc mt-5">
                <h1 class="text-xl font-medium">Brown Polo T-Shirt</h1>
                <p class="font-light text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, vel!</p>
                <div class="text-xl font-medium">
                    <span>Rs 800</span>
                    <span class="px-1"><s> Rs 1600</s></span>
                    <span> (50%) OFF</span>
                </div>
                <button (click)="view()" class="bg-sky-600 text-white px-5 py-1 rounded-md mt-2">Buy Now</button>
            </div>
        </div>

        <div class="card mt-5 shadow w-[260px] px-6 py-5 mx-auto md:mx-0">
            <div class="top-s flex justify-center">
                <img class="w-[150px]" src="https://cdn.pixabay.com/photo/2014/04/02/14/06/t-shirt-306168_960_720.png" alt="">
            </div>
            <div class="desc mt-5">
                <h1 class="text-xl font-medium">Brown Polo T-Shirt</h1>
                <p class="font-light text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, vel!</p>
                <div class="text-xl font-medium">
                    <span>Rs 800</span>
                    <span class="px-1"><s> Rs 1600</s></span>
                    <span> (50%) OFF</span>
                </div>
                <button (click)="view()" class="bg-sky-600 text-white px-5 py-1 rounded-md mt-2">Buy Now</button>
            </div>
        </div>

        <div class="card mt-5 shadow w-[260px] px-6 py-5 mx-auto md:mx-0">
            <div class="top-s flex justify-center">
                <img class="w-[150px]" src="https://cdn.pixabay.com/photo/2014/04/02/14/06/t-shirt-306168_960_720.png" alt="">
            </div>
            <div class="desc mt-5">
                <h1 class="text-xl font-medium">Brown Polo T-Shirt</h1>
                <p class="font-light text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, vel!</p>
                <div class="text-xl font-medium">
                    <span>Rs 800</span>
                    <span class="px-1"><s> Rs 1600</s></span>
                    <span> (50%) OFF</span>
                </div>
                <button (click)="view()" class="bg-sky-600 text-white px-5 py-1 rounded-md mt-2">Buy Now</button>
            </div>
        </div>

        <div class="card mt-5 shadow w-[260px] px-6 py-5 mx-auto md:mx-0">
            <div class="top-s flex justify-center">
                <img class="w-[150px]" src="https://cdn.pixabay.com/photo/2014/04/02/14/06/t-shirt-306168_960_720.png" alt="">
            </div>
            <div class="desc mt-5">
                <h1 class="text-xl font-medium">Brown Polo T-Shirt</h1>
                <p class="font-light text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, vel!</p>
                <div class="text-xl font-medium">
                    <span>Rs 800</span>
                    <span class="px-1"><s> Rs 1600</s></span>
                    <span> (50%) OFF</span>
                </div>
                <button (click)="view()" class="bg-sky-600 text-white px-5 py-1 rounded-md mt-2">Buy Now</button>
            </div>
        </div>

        <div class="card mt-5 shadow w-[260px] px-6 py-5 mx-auto md:mx-0">
            <div class="top-s flex justify-center">
                <img class="w-[150px]" src="https://cdn.pixabay.com/photo/2014/04/02/14/06/t-shirt-306168_960_720.png" alt="">
            </div>
            <div class="desc mt-5">
                <h1 class="text-xl font-medium">Brown Polo T-Shirt</h1>
                <p class="font-light text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, vel!</p>
                <div class="text-xl font-medium">
                    <span>Rs 800</span>
                    <span class="px-1"><s> Rs 1600</s></span>
                    <span> (50%) OFF</span>
                </div>
                <button (click)="view()" class="bg-sky-600 text-white px-5 py-1 rounded-md mt-2">Buy Now</button>
            </div>
        </div>


    </div>
   

</div>