<!-- <app-header [myNavTitle]="navTitle" (dataEmitter)="receiveData($event)" (myDataEmitter)="receiveText($event)"></app-header>
    <h2 class="text-center">Received data from Header :  {{receivedData}}</h2>
    <h2 class="text-center">Received Data from Header using Input : {{receivedText}}</h2>
    <router-outlet></router-outlet>
    <h2 class="text-center">Received Data from Footer : {{receivedDataFromFooter}}</h2>
<app-footer [myfootTitle]="footerTitle" (dataEmitter)="receiveDataFromFooter($event)" ></app-footer> -->


<!-- <app-builtin-pipes></app-builtin-pipes> -->

<!-- <app-reactive-form></app-reactive-form> -->

<!-- <app-servcomp></app-servcomp> -->

<!-- <app-fetch-api></app-fetch-api> -->

<router-outlet></router-outlet>

<!-- <app-datajson></app-datajson> -->